<a href="https://colab.research.google.com/github/Abhilashg11/TestProject/blob/main/Income_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv('/content/adult.csv')

In [3]:
df.education.value_counts()

HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64

In [4]:
df.workclass.value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [5]:
df.occupation.value_counts()

Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [6]:
df.gender.value_counts()

Male      32650
Female    16192
Name: gender, dtype: int64

In [7]:
df = pd.concat([df.drop('occupation',axis=1),pd.get_dummies(df.occupation).add_prefix('occupation_')],axis=1)

In [8]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,relationship,race,gender,capital-gain,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,25,Private,226802,11th,7,Never-married,Own-child,Black,Male,0,...,0,0,1,0,0,0,0,0,0,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,...,1,0,0,0,0,0,0,0,0,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Husband,White,Male,0,...,0,0,0,0,0,0,1,0,0,0
3,44,Private,160323,Some-college,10,Married-civ-spouse,Husband,Black,Male,7688,...,0,0,1,0,0,0,0,0,0,0
4,18,?,103497,Some-college,10,Never-married,Own-child,White,Female,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Wife,White,Female,0,...,0,0,0,0,0,0,0,0,1,0
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,...,0,0,1,0,0,0,0,0,0,0
48839,58,Private,151910,HS-grad,9,Widowed,Unmarried,White,Female,0,...,0,0,0,0,0,0,0,0,0,0
48840,22,Private,201490,HS-grad,9,Never-married,Own-child,White,Male,0,...,0,0,0,0,0,0,0,0,0,0
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Wife,White,Female,15024,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           48842 non-null  int64
 1   workclass                     48842 non-null  object
 2   fnlwgt                        48842 non-null  int64
 3   education                     48842 non-null  object
 4   educational-num               48842 non-null  int64
 5   marital-status                48842 non-null  object
 6   relationship                  48842 non-null  object
 7   race                          48842 non-null  object
 8   gender                        48842 non-null  object
 9   capital-gain                  48842 non-null  int64
 10  capital-loss                  48842 non-null  int64
 11  hours-per-week                48842 non-null  int64
 12  native-country                48842 non-null  object
 13  income                        48842 non-null  object
 14  occupation_?                  48842 non-null  uint8
 15  occupation_Adm-clerical       48842 non-null  uint8
 16  occupation_Armed-Forces       48842 non-null  uint8
 17  occupation_Craft-repair       48842 non-null  uint8
 18  occupation_Exec-managerial    48842 non-null  uint8
 19  occupation_Farming-fishing    48842 non-null  uint8
 20  occupation_Handlers-cleaners  48842 non-null  uint8
 21  occupation_Machine-op-inspct  48842 non-null  uint8
 22  occupation_Other-service      48842 non-null  uint8
 23  occupation_Priv-house-serv    48842 non-null  uint8
 24  occupation_Prof-specialty     48842 non-null  uint8
 25  occupation_Protective-serv    48842 non-null  uint8
 26  occupation_Sales              48842 non-null  uint8
 27  occupation_Tech-support       48842 non-null  uint8
 28  occupation_Transport-moving   48842 non-null  uint8
dtypes: int64(6), object(8), uint8(15)
memory usage: 5.9+ MB

In [10]:
df = pd.concat([df.drop('workclass',axis=1),pd.get_dummies(df.workclass).add_prefix('occupation_')],axis=1)

In [11]:
df

,age,fnlwgt,education,educational-num,marital-status,relationship,race,gender,capital-gain,capital-loss,...,occupation_Transport-moving,occupation_?,occupation_Federal-gov,occupation_Local-gov,occupation_Never-worked,occupation_Private,occupation_Self-emp-inc,occupation_Self-emp-not-inc,occupation_State-gov,occupation_Without-pay
0,25,226802,11th,7,Never-married,Own-child,Black,Male,0,0,...,0,0,0,0,0,1,0,0,0,0
1,38,89814,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,...,0,0,0,0,0,1,0,0,0,0
2,28,336951,Assoc-acdm,12,Married-civ-spouse,Husband,White,Male,0,0,...,0,0,0,1,0,0,0,0,0,0
3,44,160323,Some-college,10,Married-civ-spouse,Husband,Black,Male,7688,0,...,0,0,0,0,0,1,0,0,0,0
4,18,103497,Some-college,10,Never-married,Own-child,White,Female,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,Assoc-acdm,12,Married-civ-spouse,Wife,White,Female,0,0,...,0,0,0,0,0,1,0,0,0,0
48838,40,154374,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,...,0,0,0,0,0,1,0,0,0,0
48839,58,151910,HS-grad,9,Widowed,Unmarried,White,Female,0,0,...,0,0,0,0,0,1,0,0,0,0
48840,22,201490,HS-grad,9,Never-married,Own-child,White,Male,0,0,...,0,0,0,0,0,1,0,0,0,0
48841,52,287927,HS-grad,9,Married-civ-spouse,Wife,White,Female,15024,0,...,0,0,0,0,0,0,1,0,0,0