In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans

In [2]:
dri = pd.read_csv(r"C:\Users\admin\Downloads\driver-data.csv")

In [3]:
dri.head()

           id  mean_dist_day  mean_over_speed_perc
0  3423311935          71.24                    28
1  3423313212          52.53                    25
2  3423313724          64.54                    27
3  3423311373          55.69                    22
4  3423310999          54.58                    25

In [4]:
features = dri.drop('id',axis=1)

In [5]:
features

      mean_dist_day  mean_over_speed_perc
0             71.24                    28
1             52.53                    25
2             64.54                    27
3             55.69                    22
4             54.58                    25
...             ...                   ...
3995         160.04                    10
3996         176.17                     5
3997         170.91                    12
3998         176.14                     5
3999         168.03                     9

[4000 rows x 2 columns]

In [6]:
k_mean = KMeans(n_clusters=3)

In [7]:
cluster = k_mean.fit(features)