In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
adm = pd.read_csv(r"C:\Users\admin\Downloads\admission.csv")

In [5]:
adm.head()

   ADMIT  GRE   GPA  RANK
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [6]:
adm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ADMIT   400 non-null    int64
 1   GRE     400 non-null    int64
 2   GPA     400 non-null    float64
 3   RANK    400 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [7]:
adm.isnull().sum()

ADMIT    0
GRE      0
GPA      0
RANK     0
dtype: int64

In [8]:
adm.size

1600

In [10]:
adm.shape

(400, 4)

In [11]:
features = adm.drop('ADMIT',axis=1)

In [12]:
target = adm[['ADMIT']]

In [13]:
x_train,x_test,y_train,y_test = train_test_split(features,target,train_size=0.7,random_state=10)

In [15]:
log_model = LogisticRegression()

In [16]:
log_model.fit(x_train,y_train)

c:\Users\admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [17]:
log_model.predict_proba(x_test)

array([[0.63225468, 0.36774532],
       [0.87156959, 0.12843041],
       [0.77290114, 0.22709886],
       [0.59964191, 0.40035809],
       [0.77228674, 0.22771326],
       [0.73387074, 0.26612926],
       [0.65141446, 0.34858554],
       [0.58935908, 0.41064092],
       [0.76622804, 0.23377196],
       [0.83211625, 0.16788375],
       [0.86149042, 0.13850958],
       [0.6903951 , 0.3096049 ],
       [0.47216404, 0.52783596],
       [0.68864949, 0.31135051],
       [0.54295651, 0.45704349],
       [0.74291168, 0.25708832],
       [0.55062971, 0.44937029],
       [0.58484939, 0.41515061],
       [0.78015822, 0.21984178],
       [0.70016413, 0.29983587],
       [0.88371749, 0.11628251],
       [0.61011753, 0.38988247],
       [0.72165921, 0.27834079],
       [0.50148453, 0.49851547],
       [0.82949544, 0.17050456],
       [0.50536721, 0.49463279],
       [0.45394243, 0.54605757],
       [0.83042249, 0.16957751],
       [0.56916939, 0.43083061],
       [0.5264626 , 0.4735374 ],
       [0.67349958, 0.32650042],
       [0.56220611, 0.43779389],
       [0.57625482, 0.42374518],
       [0.43529313, 0.56470687],
       [0.6843133 , 0.3156867 ],
       [0.51070302, 0.48929698],
       [0.69607647, 0.30392353],
       [0.78241292, 0.21758708],
       [0.68814826, 0.31185174],
       [0.6036325 , 0.3963675 ],
       [0.70517215, 0.29482785],
       [0.73567789, 0.26432211],
       [0.75879847, 0.24120153],
       [0.81471228, 0.18528772],
       [0.77969405, 0.22030595],
       [0.68113307, 0.31886693],
       [0.56171131, 0.43828869],
       [0.747559  , 0.252441  ],
       [0.57559433, 0.42440567],
       [0.31399415, 0.68600585],
       [0.64441602, 0.35558398],
       [0.57664185, 0.42335815],
       [0.61351704, 0.38648296],
       [0.64185841, 0.35814159],
       [0.4229566 , 0.5770434 ],
       [0.30095993, 0.69904007],
       [0.70282951, 0.29717049],
       [0.44638349, 0.55361651],
       [0.8389329 , 0.1610671 ],
       [0.60408983, 0.39591017],
       [0.84440031, 0.15559969],
       [0.7891378 , 0.2108622 ],
       [0.58898535, 0.41101465],
       [0.59506903, 0.40493097],
       [0.71554152, 0.28445848],
       [0.62674018, 0.37325982],
       [0.45587318, 0.54412682],
       [0.87183553, 0.12816447],
       [0.85906878, 0.14093122],
       [0.66127854, 0.33872146],
       [0.76000157, 0.23999843],
       [0.54323418, 0.45676582],
       [0.81247076, 0.18752924],
       [0.72025223, 0.27974777],
       [0.78602554, 0.21397446],
       [0.89311891, 0.10688109],
       [0.69485309, 0.30514691],
       [0.87872562, 0.12127438],
       [0.6635295 , 0.3364705 ],
       [0.81916693, 0.18083307],
       [0.48530977, 0.51469023],
       [0.68172014, 0.31827986],
       [0.42220702, 0.57779298],
       [0.84357836, 0.15642164],
       [0.60807492, 0.39192508],
       [0.88537452, 0.11462548],
       [0.79283864, 0.20716136],
       [0.60279555, 0.39720445],
       [0.62838446, 0.37161554],
       [0.51146035, 0.48853965],
       [0.62356197, 0.37643803],
       [0.33316542, 0.66683458],
       [0.79776379, 0.20223621],
       [0.74432605, 0.25567395],
       [0.687987  , 0.312013  ],
       [0.75321793, 0.24678207],
       [0.86609737, 0.13390263],
       [0.63413895, 0.36586105],
       [0.81211447, 0.18788553],
       [0.84189687, 0.15810313],
       [0.85011452, 0.14988548],
       [0.60130984, 0.39869016],
       [0.43197233, 0.56802767],
       [0.48910853, 0.51089147],
       [0.89054574, 0.10945426],
       [0.62792829, 0.37207171],
       [0.63702111, 0.36297889],
       [0.43815918, 0.56184082],
       [0.71805915, 0.28194085],
       [0.73801146, 0.26198854],
       [0.53437237, 0.46562763],
       [0.42248002, 0.57751998],
       [0.60408983, 0.39591017],
       [0.63629726, 0.36370274],
       [0.62046939, 0.37953061],
       [0.88195294, 0.11804706],
       [0.67034419, 0.32965581],
       [0.63846326, 0.36153674],
       [0.87231407, 0.12768593],
       [0.62220138, 0.37779862]])

In [18]:
y_pred = log_model.predict(x_test)

In [19]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [ ]:
##