In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
adm = pd.read_csv(r"C:\Users\admin\Downloads\admission.csv")

In [5]:
adm.head()

   ADMIT  GRE   GPA  RANK
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [6]:
adm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ADMIT   400 non-null    int64
 1   GRE     400 non-null    int64
 2   GPA     400 non-null    float64
 3   RANK    400 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 12.6 KB

In [7]:
adm.isnull().sum()

ADMIT    0
GRE      0
GPA      0
RANK     0
dtype: int64

In [8]:
adm.size

1600

In [10]:
adm.shape

(400, 4)

In [11]:
features = adm.drop('ADMIT',axis=1)

In [12]:
target = adm[['ADMIT']]