In [22]:
 import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
house = pd.read_csv(r"C:\Users\admin\Downloads\Housing_data.csv")

In [24]:
house.shape

(1047, 7)

In [25]:
house.describe()

,Price,LivingArea,Bathrooms,Bedrooms,LotSize,Age,Fireplace
count,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000
mean,163862.125119,1807.302770,1.918338,3.183381,0.569580,28.061127,0.593123
std,67651.558917,641.460916,0.641735,0.750265,0.777879,34.900899,0.491486
min,16858.000000,672.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,112014.000000,1336.000000,1.500000,3.000000,0.210000,6.000000,0.000000
50%,151917.000000,1672.000000,2.000000,3.000000,0.390000,18.000000,1.000000
75%,205235.000000,2206.000000,2.500000,4.000000,0.600000,34.000000,1.000000
max,446436.000000,4534.000000,4.500000,6.000000,9.000000,247.000000,1.000000

In [26]:
house.info

<bound method DataFrame.info of        Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0      16858        1629        1.0         3     0.76  180          0
1      26049        1344        2.0         3     0.92   13          0
2      26130         822        1.0         2     0.56  173          0
3      31113        1540        1.0         2     0.04  115          0
4      40932        1320        1.0         3     0.17   90          0
...      ...         ...        ...       ...      ...  ...        ...
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1
1046  446436        3467        2.5         4     0.34    3          1

[1047 rows x 7 columns]>

In [27]:
house.head()

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0

In [28]:
house.size

7329

In [29]:
features = house.drop('Price',axis=1)

In [30]:
features.head()

   LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0        1629        1.0         3     0.76  180          0
1        1344        2.0         3     0.92   13          0
2         822        1.0         2     0.56  173          0
3        1540        1.0         2     0.04  115          0
4        1320        1.0         3     0.17   90          0

In [34]:
target = house['Price']

In [32]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test = train_test_split(features,target,train_size=.75,random_state=50)

In [37]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(785, 6)
(262, 6)
(785,)
(262,)

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
ln = LinearRegression()

In [44]:
ln.fit(x_train,y_train)

LinearRegression()

In [47]:
y_pred = ln.predict(x_test)

In [48]:
y_pred

array([306285.35201372, 297309.01731344, 232070.76838866, 223418.10241725,
       135165.0539936 , 184202.85120285, 214839.44754099, 144169.63575151,
       153932.8100808 , 155173.00472819, 102108.51268412, 164671.13151316,
       254336.98167805, 230820.55750062, 182051.44498657, 245800.2813565 ,
       204632.25374506, 123719.1746515 , 134836.81409135, 179650.08129575,
       205202.83484906, 130667.86940342, 156505.78369268, 118167.04748648,
       137589.49570798, 110556.08926145, 211523.32778328, 139566.11554441,
       193179.03939201, 213862.28014514, 215675.83066146,  91871.96753215,
        95207.88788042, 217326.71621832,  74393.64322033, 140745.63115932,
       156686.12739829, 180674.41454785, 235883.30003076, 130177.2310295 ,
        96879.64282898, 118056.68360215, 138185.14256768, 224718.12892987,
       223173.79520075, 150315.36112151, 139939.37305476, 164789.68588089,
       173022.39892679, 140414.50901674, 217820.66391334, 241392.70402325,
       137534.97787496, 170119.34167532,  91166.300986  , 187672.75583956,
       141100.43428285, 212247.46781115, 187226.83912175, 116980.07311424,
       107068.6824249 , 142483.97251019, 225579.46532702, 134639.65311931,
       191608.18346445, 135298.74412452, 145857.01804117, 131691.81084709,
       269408.90303462, 122911.23325862, 131492.02098994, 232625.35306387,
       102751.22569731, 160088.44873618, 185380.79971095, 135076.37009412,
       281507.49117381, 290774.33520695, 144169.63575151, 142369.74249326,
       102528.99650791, 133279.97421723, 152759.61048167, 213322.55083067,
       162848.71410647,  94357.32883186, 223018.3448042 , 196315.64323142,
       145260.22810024, 228632.37826097, 142588.74034062,  86966.69349518,
       212041.23565323, 126026.06238574, 196723.55336894,  77180.7823841 ,
       139192.5579626 , 207986.14426548, 152698.86838865, 254751.15118762,
       204899.51684188, 165070.35224927, 158995.79618035, 297385.57542017,
       107664.51300487, 154644.62807204,  99763.59925802, 103776.07585889,
       121424.1222452 , 185335.5444643 , 144436.39809994, 232000.61153377,
       103730.12909842, 175143.74689357, 132553.42856677, 243787.33157318,
       218428.35261837,  99427.41534493, 170038.95829269, 205795.286758  ,
       217635.88602238, 152072.90200024,  92763.96768422, 236439.85976027,
        95339.26271861, 144794.68972905, 173255.9899199 ,  95456.75172119,
       151506.57891366, 210544.53579065, 132857.7062202 , 139389.2523242 ,
       163519.28402666, 103933.01570713, 160364.62185558, 224663.68290842,
       209855.9274513 , 140705.53525307, 214099.55079702, 188761.80285294,
       126909.22853891, 121273.23582635, 200723.00196609, 121332.78306723,
       233258.84127015,  52455.23589608,  50870.87931565, 201719.02191958,
       117686.51535602, 209797.96125135, 145552.00676696, 149081.89934555,
        88519.90348102, 206464.94735732, 177346.02368785, 136117.51148956,
       139797.53414271, 120844.75180668, 176530.41270255, 103911.17877714,
       128556.9889154 , 173694.59828688, 175145.97553371, 292074.90218338,
       307872.53780055, 266782.71697488, 122803.71258516, 111331.21963569,
       115399.65196192, 121977.35636973, 218848.02560551,  81294.25141334,
        99560.78291554,  73648.25315719, 272961.49786241,  87148.33321331,
       261820.34208955, 146146.70464505,  84349.45799734,  88710.55575417,
       161495.28661496, 165600.85496799, 127481.67030455, 146920.33422355,
       154900.85813195, 138341.14938764, 157408.99119734, 130396.36978166,
       106713.28234494,  89269.95727175,  86415.51900677,  67949.87698363,
       153593.16605957, 130515.84979187,  95140.3934173 , 207804.79744482,
       146863.70142473, 222793.19972386, 241300.82753219,  95237.42924877,
       191419.10153587, 154739.23261811, 209066.74148767,  81541.92275777,
       184115.16321612, 179711.29500624, 124029.2361624 , 189718.24692603,
       161041.22949158, 134356.14933524, 369624.47210603, 105198.59819665,
       234389.21483388, 147198.4140444 , 274761.90452029,  75654.18531994,
       250337.09358528, 154362.98919409, 135124.89902373, 204027.88649698,
       152759.61048167, 229902.21080239, 235988.08638551, 100604.29037531,
       108218.43734206, 107068.2316943 , 140465.54576168, 166333.54901529,
       138994.21003045, 181110.86621414, 217383.94301171,  74128.44737603,
       103717.5541521 ,  96259.18249827, 134138.04450942, 166361.67601926,
       124647.26979792, 170626.37493412, 189027.7617599 , 156767.55412769,
       123742.27761353, 221136.33787399, 140731.95892202, 178959.31952544,
       136883.29105721, 149100.56155093, 208619.09329033, 149570.45257391,
       130696.03424781, 114055.89984739, 193139.33974295, 131193.36354336,
       235525.49614851, 208252.32328399, 136117.51148956, 271070.25357562,
       165277.45089028, 178768.95184428, 218346.99945703, 215010.8900998 ,
       108078.11946532,  87747.24768153])

In [49]:
y_pred.shape

(262,)

In [50]:
y_test.shape

(262,)

In [51]:
ln.coef_

array([   71.01773164, 12495.81330579, -5377.02839843,  2954.13683419,
        -215.08955664, 10517.92407482])

In [52]:
ln.intercept_

26308.72407431781

In [53]:
sse = ((y_test-y_pred)**2).sum()

In [54]:
sse

524426101944.0737