## Polynomial regression

In [1]:
from sklearn.preprocessing import PolynomialFeatures
import pandas as pd

In [2]:
adv = pd.read_csv(r"C:\Users\admin\Downloads\Advertising.csv")

In [4]:
adv.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
target = adv[['sales']]

In [6]:
target

     sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [7]:
features = adv.drop('sales',axis=1)

In [8]:
features

     Unnamed: 0     TV  radio  newspaper
0             1  230.1   37.8       69.2
1             2   44.5   39.3       45.1
2             3   17.2   45.9       69.3
3             4  151.5   41.3       58.5
4             5  180.8   10.8       58.4
..          ...    ...    ...        ...
195         196   38.2    3.7       13.8
196         197   94.2    4.9        8.1
197         198  177.0    9.3        6.4
198         199  283.6   42.0       66.2
199         200  232.1    8.6        8.7

[200 rows x 4 columns]

In [9]:
feature_poly = PolynomialFeatures(degree=2)

In [10]:
feature_new=feature_poly.fit_transform(features)

In [11]:
feature_new

array([[1.00000e+00, 1.00000e+00, 2.30100e+02, ..., 1.42884e+03,
        2.61576e+03, 4.78864e+03],
       [1.00000e+00, 2.00000e+00, 4.45000e+01, ..., 1.54449e+03,
        1.77243e+03, 2.03401e+03],
       [1.00000e+00, 3.00000e+00, 1.72000e+01, ..., 2.10681e+03,
        3.18087e+03, 4.80249e+03],
       ...,
       [1.00000e+00, 1.98000e+02, 1.77000e+02, ..., 8.64900e+01,
        5.95200e+01, 4.09600e+01],
       [1.00000e+00, 1.99000e+02, 2.83600e+02, ..., 1.76400e+03,
        2.78040e+03, 4.38244e+03],
       [1.00000e+00, 2.00000e+02, 2.32100e+02, ..., 7.39600e+01,
        7.48200e+01, 7.56900e+01]])

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(feature_new,target,train_size=0.75,random_state=50)

In [15]:
print(x_train.shape)

(150, 15)