In [40]:
import pandas as pd
import numpy as np
import scipy.stats as stats

## ANOVA

In [4]:
plant = pd.read_csv(r'C:\Users\admin\Downloads\plant_growth.csv')

In [5]:
plant.head()

   weight treatment_type
0    4.17           ctrl
1    5.58           ctrl
2    5.18           ctrl
3    6.11           ctrl
4    4.50           ctrl

In [7]:
plant.shape

(30, 2)

In [8]:
plant.size

60

In [15]:
plant.describe(include='all')

           weight treatment_type
count   30.000000             30
unique        NaN              3
top           NaN           ctrl
freq          NaN             10
mean     5.073000            NaN
std      0.701192            NaN
min      3.590000            NaN
25%      4.550000            NaN
50%      5.155000            NaN
75%      5.530000            NaN
max      6.310000            NaN

In [16]:
plant.isnull().sum()

weight            0
treatment_type    0
dtype: int64

In [17]:
plant['treatment_type'].value_counts()

ctrl    10
trt1    10
trt2    10
Name: treatment_type, dtype: int64

In [34]:
crl_weights = plant[plant['treatment_type']=='ctrl'][['weight']]

In [35]:
crl_weights

   weight
0    4.17
1    5.58
2    5.18
3    6.11
4    4.50
5    4.61
6    5.17
7    4.53
8    5.33
9    5.14

In [36]:
trt1_weight = plant[plant['treatment_type']=='trt1'][['weight']]

In [37]:
trt2_weight = plant[plant['treatment_type']=='trt2'][['weight']]

In [38]:
trt1_weight

    weight
10    4.81
11    4.17
12    4.41
13    3.59
14    5.87
15    3.83
16    6.03
17    4.89
18    4.32
19    4.69

In [33]:
trt2_weight

    weight
20    6.31
21    5.12
22    5.54
23    5.50
24    5.37
25    5.29
26    4.92
27    6.15
28    5.80
29    5.26

In [41]:
stats.f_oneway(trt2_weight,trt1_weight,crl_weights)

F_onewayResult(statistic=array([4.84608786]), pvalue=array([0.01590996]))

## Chisquare test

In [51]:
observed_value = [125,95,75,105,80,120]

In [52]:
expected_value = [100,100,100,100,100,100]

In [53]:
stats.chisquare(observed_value,expected_value)

Power_divergenceResult(statistic=21.0, pvalue=0.0008100596181897033)

In [55]:
vote = pd.read_csv(r'C:\Users\admin\Downloads\house-votes-84.csv')

In [59]:
vote.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [61]:
vote['Class Name']

0      republican
1      republican
2        democrat
3        democrat
4        democrat
          ...
430    republican
431      democrat
432    republican
433    republican
434    republican
Name: Class Name, Length: 435, dtype: object