In [2]:
import pandas as pd
import numpy as np

In [4]:
plant = pd.read_csv(r'C:\Users\admin\Downloads\plant_growth.csv')

In [5]:
plant.head()

   weight treatment_type
0    4.17           ctrl
1    5.58           ctrl
2    5.18           ctrl
3    6.11           ctrl
4    4.50           ctrl

In [7]:
plant.shape

(30, 2)

In [8]:
plant.size

60

In [15]:
plant.describe(include='all')

           weight treatment_type
count   30.000000             30
unique        NaN              3
top           NaN           ctrl
freq          NaN             10
mean     5.073000            NaN
std      0.701192            NaN
min      3.590000            NaN
25%      4.550000            NaN
50%      5.155000            NaN
75%      5.530000            NaN
max      6.310000            NaN

In [16]:
plant.isnull().sum()

weight            0
treatment_type    0
dtype: int64

In [17]:
plant['treatment_type'].value_counts()

ctrl    10
trt1    10
trt2    10
Name: treatment_type, dtype: int64

In [ ]:
crl_weights =