In [2]:
import pandas as pd


# series

names = ['tom','jerry','max']
marks=[90,80,100]

In [4]:
ser1 = pd.Series(data=marks,index=names)

In [5]:
ser1

tom       90
jerry     80
max      100
dtype: int64

In [6]:
type(ser1)

pandas.core.series.Series

In [7]:
ser1.shape

(3,)

In [8]:
ser1.ndim

1

In [9]:
ser2=pd.Series(data=[70,50,30],index=['ras','tan','sam'])

In [10]:
ser2

ras    70
tan    50
sam    30
dtype: int64

In [12]:
ser2[1]

50

In [14]:
ser2['sam']=90

In [15]:
ser2['sam']

90

### DataFrame

In [68]:
dict1 = {'names':['a','b','c'],'age':[30,40,30],'location':['bng','ckm','mys']}

In [69]:
df = pd.DataFrame(data=dict1,index=[1,2,3])

In [70]:
df

  names  age location
1     a   30      bng
2     b   40      ckm
3     c   30      mys

In [71]:
dict2 = {'age':[1,2,3],'place':['tr','pr','cr']}

In [72]:
df1 = pd.DataFrame(data=dict2,index=[])

ValueError: Length of values (3) does not match length of index (0)

In [73]:
df1

   age place
0    1    tr
1    2    pr
2    3    cr

In [74]:
df1.size

6

In [75]:
df1.ndim

2

In [76]:
df1.shape

(3, 2)

In [77]:
df1.loc[0:3,['age','place']]

   age place
0    1    tr
1    2    pr
2    3    cr

In [78]:
df1.iloc[0:4,0:3]

   age place
0    1    tr
1    2    pr
2    3    cr

In [79]:
df['names'].values

array(['a', 'b', 'c'], dtype=object)

In [80]:
df['age'].value_counts()

30    2
40    1
Name: age, dtype: int64

In [84]:
df[df['age'].values==30]

  names  age location
1     a   30      bng
3     c   30      mys