In [2]:
import pandas as pd


# series

names = ['tom','jerry','max']
marks=[90,80,100]

In [4]:
ser1 = pd.Series(data=marks,index=names)

In [5]:
ser1

tom       90
jerry     80
max      100
dtype: int64

In [6]:
type(ser1)

pandas.core.series.Series

In [7]:
ser1.shape

(3,)

In [8]:
ser1.ndim

1

In [9]:
ser2=pd.Series(data=[70,50,30],index=['ras','tan','sam'])

In [10]:
ser2

ras    70
tan    50
sam    30
dtype: int64

In [12]:
ser2[1]

50

In [14]:
ser2['sam']=90

In [15]:
ser2['sam']

90

### DataFrame

In [17]:
dict1 = {'names':['a','b','c'],'age':[30,40,50],'location':['bng','ckm','mys']}

In [19]:
df = pd.DataFrame(data=dict1,index=[1,2,3])

In [20]:
df

  names  age location
1     a   30      bng
2     b   40      ckm
3     c   50      mys

In [21]:
dict2 = {'age':[1,2,3],'place':['tr','pr','cr']}

In [33]:
df1 = pd.DataFrame(data=dict2,index=[])

In [34]:
df1

   age place
0    1    tr
1    2    pr
2    3    cr

In [24]:
df1.size

6

In [25]:
df1.ndim

2

In [32]:
df1.shape

(3, 2)

In [ ]:
df1.iloc()