In [2]:
from sklearn.datasets import load_digits
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as pyplot
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import nltk
import string

In [9]:
df = pd.read_csv(r"C:\Users\admin\Downloads\SMSSpamCollection",sep='\t',header=0,names=['label','msg'])

In [10]:
df

     label                                                msg
0      ham                      Ok lar... Joking wif u oni...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  U dun say so early hor... U c already then say...
3      ham  Nah I don't think he goes to usf, he lives aro...
4     spam  FreeMsg Hey there darling it's been 3 week's n...
...    ...                                                ...
5566  spam  This is the 2nd time we have tried 2 contact u...
5567   ham               Will ü b going to esplanade fr home?
5568   ham  Pity, * was in mood for that. So...any other s...
5569   ham  The guy did some bitching but I acted like i'd...
5570   ham                         Rofl. Its true to its name

[5571 rows x 2 columns]

In [11]:
df['len']=df['msg'].apply(len)

In [12]:
df

     label                                                msg  len
0      ham                      Ok lar... Joking wif u oni...   29
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...  155
2      ham  U dun say so early hor... U c already then say...   49
3      ham  Nah I don't think he goes to usf, he lives aro...   61
4     spam  FreeMsg Hey there darling it's been 3 week's n...  147
...    ...                                                ...  ...
5566  spam  This is the 2nd time we have tried 2 contact u...  160
5567   ham               Will ü b going to esplanade fr home?   36
5568   ham  Pity, * was in mood for that. So...any other s...   57
5569   ham  The guy did some bitching but I acted like i'd...  125
5570   ham                         Rofl. Its true to its name   26

[5571 rows x 3 columns]